!!!5
html(lang="en")
  head
    meta(charset="utf-8")
    title Binteo API Documentation
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="")
    meta(name="author", content="")
    link(rel="stylesheet/less", href="/css/application.less", type="text/css")
    link(rel="stylesheet/less", href="/css/responsive.less", type="text/css")
    script(src="/js/libs/less-1.3.0.min.js")

    //if lt IE 9
      script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")

    link(rel="shortcut icon", href="/ico/favicon.ico")
    link(rel="apple-touch-icon-precomposed", sizes="144x144", href="/ico/apple-touch-icon-144-precomposed.png")
    link(rel="apple-touch-icon-precomposed", sizes="114x114", href="/ico/apple-touch-icon-114-precomposed.png")
    link(rel="apple-touch-icon-precomposed", sizes="72x72", href="/ico/apple-touch-icon-72-precomposed.png")
    link(rel="apple-touch-icon-precomposed", href="/ico/apple-touch-icon-57-precomposed.png")
  body
    != partial("common/header")
    .container-fluid
      .row-fluid
        .span3
          != partial("common/aside")
        .span9
          != body
      hr
      footer
        p &copy; Company 2012

    script(src="/js/libs/jquery.js")
    script(src="/js/libs/bootstrap/bootstrap-affix.js")
    script(src="/js/libs/bootstrap/bootstrap-transition.js")
    script(src="/js/libs/bootstrap/bootstrap-alert.js")
    script(src="/js/libs/bootstrap/bootstrap-modal.js")
    script(src="/js/libs/bootstrap/bootstrap-dropdown.js")
    script(src="/js/libs/bootstrap/bootstrap-scrollspy.js")
    script(src="/js/libs/bootstrap/bootstrap-tab.js")
    script(src="/js/libs/bootstrap/bootstrap-tooltip.js")
    script(src="/js/libs/bootstrap/bootstrap-popover.js")
    script(src="/js/libs/bootstrap/bootstrap-button.js")
    script(src="/js/libs/bootstrap/bootstrap-collapse.js")
    script(src="/js/libs/bootstrap/bootstrap-carousel.js")
    script(src="/js/libs/bootstrap/bootstrap-typeahead.js")
    script(src="/js/libs/jquery.smooth-scroll.js")
    script
      $(".eps-index a").smoothScroll({
        offset: -100
      });