.hero-unit
  h1 Hello Developers.
  p The first version of the Instagram API is an exciting step forward towards making it easier for users to have open access to their data. We created it so that you can surface the amazing content Instagram users share every second, in fun and innovative ways.
  p Build something great.
  p
    a.btn.btn-large.btn-primary(href="#") Register your application 
    |  then 
    a(href="/endpoints") dive into the documentation

h2 Getting started
.row-fluid
  .span4
    h5: a(href="#") Register
    p We&rsquo;ll assign an OAuth client_id and client_secret for each of your applications.
  .span4
    h5: a(href="#") Authenticate
    p Have our user <a href="#">authenticate and authorize your application</a> with Instagram.
  .span4
    h5: a(href="#") Start making requests!
    p Make requests to our <a href="/endpoints">API Endpoints</a> with your authenticated OAuth credentials.

.alert.alert-info
  h3 API TERMS OF USE
  p Before you start using the API, we have a few guidelines that we'd like to tell you about. Please make sure to read the full <a href="#">API Terms of Use</a>. Here's what you'll read about:
  ol
    li Instagram users own their images. It's your responsibility to make sure that you respect that right.
    li You cannot use the Instagram name in your application.
    li You cannot use the Instagram API to crawl or store users' images without their express consent.
    li You cannot replicate the core user experience of Instagram.com
    li Do not abuse the API. Too many requests too quickly will get your access turned off
