header
  h1 Like Endpoints
.body
  .eps-index#edpoints-index
    a(href="#ep1")
      .ep.ep-short.ep-get
        header.ep-header
          .ep-method GET
          .ep-path /media/{media-id}/likes
          .ep-excerpt Get a list of users who have liked this media.
    a(href="#ep2")
      .ep.ep-short.ep-post
        header.ep-header
          .ep-method POST
          .ep-path /media/{media-id}/likes
          .ep-excerpt Set a like on this media by the current user.
    a(href="#ep3")
      .ep.ep-short.ep-delete
        header.ep-header
          .ep-method DELETE
          .ep-path /media/{media-id}/likes
          .ep-excerpt Remove a like on this media by the current user.
  h2 Endpoint Details
  .eps
    .ep.ep-get#ep1
      header.ep-header
        .ep-method GET
        .ep-path /media/{media-id}/likes
      .ep-body
        .ep-description
          | Get a list of users who have liked this media.<br />
          small
            a(href="#") Required scope: 
            | likes
        .ep-curl
          button.btn-response.btn(data-toggle="collapse", data-target="#response") Sample Request <span class="caret"></span>
          .ep-response#response.collapse
            span Curl Request:
            pre: code
              include responses/likes/ep1-curl.txt
            span Sample Response:
            pre: code
              include responses/likes/ep1-response.txt
    .ep.ep-post#ep2
      header.ep-header
        .ep-method POST
        .ep-path /media/{media-id}/likes
      .ep-body
        .ep-description
          | Set a like on this media by the currently authenticated user.<br />
          small
            a(href="#") Required scope: 
            | likes
        .ep-params
          header
            strong Parameters
          table.table.table-hover
            tbody
              tr
                td.key ACCESS_TOKEN
                td.description A valid access token.
        .ep-curl
          button.btn-response.btn(data-toggle="collapse", data-target="#response2") Sample Request <span class="caret"></span>
          .ep-response#response2.collapse
            span Curl Request:
            pre: code
              include responses/likes/ep2-curl.txt
            span Sample Response:
            pre: code
              include responses/likes/ep2-response.txt
    .ep.ep-delete#ep3
      header.ep-header
        .ep-method DELETE
        .ep-path /media/{media-id}/likes
      .ep-body
        .ep-description
          | Remove a like on this media by the currently authenticated user.<br />
          small
            a(href="#") Required scope: 
            | likes
        .ep-params
          header
            strong Parameters
          table.table.table-hover
            tbody
              tr
                td.key ACCESS_TOKEN
                td.description A valid access token.
        .ep-curl
          button.btn-response.btn(data-toggle="collapse", data-target="#response3") Sample Request <span class="caret"></span>
          .ep-response#response3.collapse
            span Curl Request:
            pre: code
              include responses/likes/ep3-curl.txt
            span Sample Response:
            pre: code
              include responses/likes/ep3-response.txt