header
  h1 Profile Endpoints
.body
  p Optional description here
  .eps-index#edpoints-index
    a(href="#ep1")
      .ep.ep-short.ep-get
        header.ep-header
          .ep-method GET
          .ep-path /account.json/{account_id}/friends
          .ep-excerpt Get account friends
    a(href="#ep2")
      .ep.ep-short.ep-put
        header.ep-header
          .ep-method PUT
          .ep-path /account.json/{account_id}/avatar
          .ep-excerpt Update account avatar
    a(href="#ep3")
      .ep.ep-short.ep-put
        header.ep-header
          .ep-method PUT
          .ep-path /account.json/{account_id}/profile
          .ep-excerpt Update account profile
    a(href="#ep4")
      .ep.ep-short.ep-get
        header.ep-header
          .ep-method GET
          .ep-path /account.json/{account_id}/profile
          .ep-excerpt Get account profile
    a(href="#ep5")
      .ep.ep-short.ep-put
        header.ep-header
          .ep-method PUT
          .ep-path /account.json/{account_id}
          .ep-excerpt Account update
    a(href="#ep6")
      .ep.ep-short.ep-get
        header.ep-header
          .ep-method GET
          .ep-path /account.json/{account_id}/posts
          .ep-excerpt Get posts by user
    a(href="#ep7")
      .ep.ep-short.ep-get
        header.ep-header
          .ep-method GET
          .ep-path /profile.json/{username}
          .ep-excerpt Get account profile by username
  h2 Endpoint Details
  .eps
    .ep.ep-get#ep1
      header.ep-header
        .ep-method GET
        .ep-path /account.json/{account_id}/friends
      .ep-body
        .ep-description Get account friends
        .ep-params
          header
            strong Parameters
          table.table.table-hover
            tbody
              tr
                td.key key
                td.description foobar
        .ep-curl
          button.btn-response.btn(data-toggle="collapse", data-target="#response") Sample Request <span class="caret"></span>
          .ep-response#response.collapse
            span Curl Request:
            pre: code
              include responses/profile/ep1-curl.txt
            span Sample Response:
            pre: code
              include responses/profile/ep1-response.txt
    .ep.ep-put#ep2
      header.ep-header
        .ep-method PUT
        .ep-path /account.json/{account_id}/avatar
      .ep-body
        .ep-description Update account avatar
        .ep-params
          header
            strong Parameters
          table.table.table-hover
            tbody
              tr
                td.key token
                td.description Account token id
        .ep-curl
          button.btn-response.btn(data-toggle="collapse", data-target="#response2") Sample Request <span class="caret"></span>
          .ep-response#response2.collapse
            span Curl Request:
            pre: code
              include responses/profile/ep2-curl.txt
            span Sample Response:
            pre: code
              include responses/profile/ep2-response.txt
    .ep.ep-put#ep3
      header.ep-header
        .ep-method PUT
        .ep-path /account.json/{account_id}/profile
      .ep-body
        .ep-description Update account profile
        .ep-params
          header
            strong Parameters
          table.table.table-hover
            tbody
              tr
                td.key token
                td.description Account token id
        .ep-curl
          button.btn-response.btn(data-toggle="collapse", data-target="#response3") Sample Request <span class="caret"></span>
          .ep-response#response3.collapse
            span Curl Request:
            pre: code
              include responses/profile/ep3-curl.txt
            span Sample Response:
            pre: code
              include responses/profile/ep3-response.txt
    .ep.ep-get#ep4
      header.ep-header
        .ep-method GET
        .ep-path /account.json/{account_id}/profile
      .ep-body
        .ep-description Get account profile
        .ep-params
          header
            strong Parameters
          table.table.table-hover
            tbody
              tr
                td.key token
                td.description Account's token id
        .ep-curl
          button.btn-response.btn(data-toggle="collapse", data-target="#response4") Sample Request <span class="caret"></span>
          .ep-response#response4.collapse
            span Curl Request:
            pre: code
              include responses/profile/ep4-curl.txt

            span Sample Response:
            pre: code
              include responses/profile/ep4-response.txt
    .ep.ep-put#ep5
      header.ep-header
        .ep-method PUT
        .ep-path /account.json/{account_id}
      .ep-body
        .ep-description Account update
        .ep-params
          header
            strong Parameters
          table.table.table-hover
            tbody
              tr
                td.key token
                td.description Account's token id
        .ep-curl
          button.btn-response.btn(data-toggle="collapse", data-target="#response5") Sample Request <span class="caret"></span>
          .ep-response#response5.collapse
            span Curl Request:
            pre: code
              include responses/profile/ep5-curl.txt
            span Sample Response:
            pre: code
              include responses/profile/ep5-response.txt
    .ep.ep-get#ep6
      header.ep-header
        .ep-method GET
        .ep-path /account.json/{account_id}/posts
      .ep-body
        .ep-description Get posts by user
        .ep-params
          header
            strong Parameters
          table.table.table-hover
            tbody
              tr
                td.key token
                td.description Account's token id
              tr
                td.key limit
                td.description The number of posts that you want returned
              tr
                td.key cursor
                td.description The item of the last element listed (user for pagination)
        .ep-curl
          button.btn-response.btn(data-toggle="collapse", data-target="#response6") Sample Request <span class="caret"></span>
          .ep-response#response6.collapse
            span Curl Request:
            pre: code
              include responses/profile/ep6-curl.txt
            span Sample Response:
            pre: code
              include responses/profile/ep6-response.txt
    .ep.ep-get#ep7
      header.ep-header
        .ep-method GET
        .ep-path /profile.json/{username}
      .ep-body
        .ep-description Get account profile by username
        .ep-params
          header
            strong Parameters
          table.table.table-hover
            tbody
              tr
                td.key token
                td.description Account's token id
        .ep-curl
          button.btn-response.btn(data-toggle="collapse", data-target="#response7") Sample Request <span class="caret"></span>
          .ep-response#response7.collapse
            span Curl Request:
            pre: code
              include responses/profile/ep7-curl.txt
            span Sample Response:
            pre: code
              include responses/profile/ep7-response.txt