ul.sidebar-nav
  li(class="#{ active === 'home'?'active':'' }")
    a(href="/") Overview
  li(class="#{ active === 'endpoints'?'active':'' }")
    a(href="/endpoints") Endpoints
    ul
      li
        a(href="/endpoints/profile") General
      li
        a(href="/endpoints/profile") Activity
      li
        a(href="/endpoints/profile") Directory
      li
        a(href="/endpoints/profile") Likes
      li(class="#{ active === 'profile'?'active':'' }")
        a(href="/endpoints/profile") Profile
      li
        a(href="/endpoints/profile") Registration &amp; Login
      li
        a(href="/endpoints/profile") Favorites