ul.sidebar-nav
  li(class="#{ active === 'home'?'active':'' }")
    a(href="/") Overview
  li(class="#{ active === 'endpoints'?'active':'' }")
    a(href="/endpoints") Endpoints
    ul
      li
        a(href="/endpoints/likes") Users
      li
        a(href="/endpoints/likes") Relationships
      li
        a(href="/endpoints/likes") Media
      li(class="#{ active === 'likes'?'active':'' }")
        a(href="/endpoints/likes") Likes
      li
        a(href="/endpoints/likes") Tags
      li
        a(href="/endpoints/likes") Locations
      li
        a(href="/endpoints/likes") Geographies