ul.sidebar-nav
  li(class="#{ active === 'home'?'active':'' }")
    a(href="/") Overview
  li(class="#{ active === 'endpoints'?'active':'' }")
    a(href="/endpoints") Endpoints
    ul
      li(class="#{ active === 'users'?'active':'' }")
        a(href="/endpoints/users") Users
      li
        a(href="/endpoints/users") Relationships
      li
        a(href="/endpoints/users") Media
      li
        a(href="/endpoints/users") Comments
      li
        a(href="/endpoints/users") Likes
      li
        a(href="/endpoints/users") Tags
      li
        a(href="/endpoints/users") Locations
      li
        a(href="/endpoints/users") Geographies