header#header
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container-fluid
        a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.brand(href="#") <i class="icon-home icon-white"></i> <strong>API</strong>me
        .nav-collapse.collapse
          ul.nav
            li
              a(href="#") <i class="icon-pencil icon-white"></i> Endpoints
            li
              a(href="#about") <i class="icon-user icon-white"></i> Sharing
            li
              a(href="#contact") <i class="icon-cog icon-white"></i> Settings