header#header
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container-fluid
        a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.brand(href="#") <i class="icon-home icon-white"></i> <strong>Binteo</strong> API
        .nav-collapse.collapse
          ul.nav
            li.dropdown
              a.dropdown-toggle(href="#", data-toggle="dropdown") Endpoints <b class="caret"></b>
              ul.dropdown-menu
                li: a(href="#") General
                li: a(href="#") Activity
                li: a(href="#") Directory
                li: a(href="#") Likes
                li: a(href="#") Profile
                li: a(href="#") Registration &amp; Login
                li: a(href="#") Favorites
            li.dropdown
              a.dropdown-toggle(href="#", data-toggle="dropdown") Options <b class="caret"></b>
              ul.dropdown-menu
                li: a(href="#") Sharing
                li: a(href="#") Settings