header#header
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container-fluid
        a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.brand(href="#") <i class="icon-home icon-white"></i> <strong>Binteo</strong> API
        .nav-collapse.collapse
          ul.nav
            li: a(href="/") Overview
            li.dropdown
              a.dropdown-toggle(href="#", data-toggle="dropdown") Endpoints <b class="caret"></b>
              ul.dropdown-menu
                li: a(href="/endpoints/profile") General
                li: a(href="/endpoints/profile") Activity
                li: a(href="/endpoints/profile") Directory
                li: a(href="/endpoints/profile") Likes
                li: a(href="/endpoints/profile") Profile
                li: a(href="/endpoints/profile") Registration &amp; Login
                li: a(href="/endpoints/profile") Favorites